{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    <script>
        window.onload = function(){
            setTimeout(function() {
                window.location.href = "http://127.0.0.1:8000/welcome";
            }, 3000);
        }
    </script>
    <style>
        body{
            background-image: url(indexbackground.png);
            font-family: 'Fjalla One', sans-serif;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center;margin-top: 24%; font-size: 64px;">Thank you for using Trift ATM</h1>
</body>
</html>